@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1532398835321-c2ff55fe762b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbd814ba2406e4c703f592527e83df14&auto=format&fit=crop&w=1534&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.wrapper-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.list-names {
    background: #fff;
    min-width: 200px;
    list-style: none;
    padding: 40px;
    overflow-y: auto;
}

.list-names>li {
    padding: 10px 0;
}

@media (max-width: 1100px) and (max-height: 450px) {
    .list-names{
        height: 100vh;
    }
}