body {
    background-color: #6c5ce7;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.green-effect-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    width: 300px;
}

.green-effect-form > label {
    font-weight: bold;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons > button {
    cursor: pointer;
    display: inline-block;
}

.strip {
    width: 100%;
    max-height: 120px;
}

.thumb-image {
    height: 120px;
    width: 160px;
}