.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.green-effect-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}

.btn-take-a-photo {
    cursor: pointer;
}

.strip {
    width: 100%;
    max-height: 120px;
}

.thumb-image {
    height: 120px;
    width: 160px;
}