* {
    margin: 0;
    padding: 0;
}

.page {
    background-color: #6c5ce7;
    height: 100vh;
    width: 100vw;
}

.player {
    padding-top: 100px;
    margin: auto;
    width: 500px;
}

.player__Video {
    max-width: 100%;
    width: 100%;
}