* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blur: 0px;
    --background-color: #fff;
    --spacing: 0;
}

.page {
    background-color: #512da8;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.container {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 60%;
}

.image-wrapper {
    margin-top: 10%;
}

.image-wrapper__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.image-wrapper__image {
    background-color: var(--background-color);
    filter: blur(var(--blur));
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 100%;
    padding: var(--spacing);
    width: 80%;
}

.controls__input {
    width: 100%;
}