* {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #00b894;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.page__title {
    text-align: center;
}

.page__box-typing {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    font-size: 4em;
    height: 200px;
    margin: auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: calc(50vh - 200px);
    overflow: hidden;
}

@media (max-width: 520px) {
    .page__box-typing {
        width: 98vw;
    }
}