* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.box__text {
    font-size: 4em;
    text-transform: uppercase;
}